*{position: 0;margin: 0; font-family: "Microsoft YaHei","SimSun","SimHei";font-size: 12px; text-decoration: none; list-style: none;}

.home{
   width: 100%;
   position: fixed;
   background: #000000;
   height: 74px;  
   z-index: 1;
}
.nav{
    float:right;
    margin-right: 80px;
}
.btn{
   float:right;
   position: absolute;
   top: 20px;
   right: 50px;
   text-align: center;
   display: none;
   z-index: 2;
}
.btn img{
    right: 10px;
    cursor: pointer;
    position: fixed;
    border: 1px solid #ffffff;
}
.btn dl{
    position: fixed;
    right: 50px;
    width: 150px;
    background: #000000;
    display: none;
    line-height: 20px;
    letter-spacing: 2px; 
    border: 1px solid #ffffff;  
}
.btn dt{
       padding-top:25px;
}
.btn dd{
    margin: 10px;
    border: 1px solid #ffffff;
}
.btn a{
    font-size: 15px;
    color: #ffffff;
}
.btn a:hover{
    color: #963;
}
.nav li{
    float: left;
    position: relative;
    margin-left:50px;
}

.nav a {
    line-height: 74px;
    padding: 0 12px;
    color:  #DDDDDD;
    display:inline-block;
    font-weight: 900;
    transition: all 0.5s;

}
.nav a:hover{
    color:#369;
}

.two{
    width: 140px;
    position: absolute;
    top: 60px;
    left: 0;
    display: none;
}
.two a{
   width: 120px;
   line-height: 20px;

}
.bg{
    widows: 100%;
    height: 74px;
    border-bottom: 1px solid #fff;
    background:#000;
    opacity: 0.8;          
}


/*魅族*/
.con1,.con2,.con3,.con4{
   width: 100%;
   height: 100vh;
   background-size:100vw 100vh;
   background-repeat: no-repeat;
}
.con1{
    background-image: url(../img/1.jpg);
}

.con2{
    background-image: url(../img/2.jpg);
}
.con3{
    background-image: url(../img/3.jpg);   
}
.con4{
    background-image: url(../img/4.jpg); 
}
.con .inner{
    width:60%;
    height: 280px;
    position: relative;
    top: 30%;
    margin: 0 auto;
}
.con .inner .box{
    width: 430px;
    color: #ffffff;
}
.con .inner .left{
    float: left;

}
.con .inner .right{
    float: right;
}
.con4 .inner .box2{
    width: 100%;
    text-align: center;
}
.con4 .inner{
    top: 15%;
}
.con .inner .box h2{
    position: relative;
    top: 100px;
    font-size: 30px;
    font-weight: 100;
    line-height: 1.3em;
    transition: 0.5s;
    opacity: 0;
}
.con .inner .box p{
    position: relative;
    top: 100px;
    margin-top: 15px;
    font-size: 16px;
    line-height: 2em;
    transition: 0.5s 0.3s;
    opacity: 0;
}
.con .inner.act .box h2{
    top: 0;
    opacity: 1;
}
.con .inner.act .box p{
    top: 0;
    opacity: 1;
}
.footer{
    height: 180px;
    text-align: center;
    background: #000000;
}
.footer h1,.footer p{
    color: #ffffff;
}
.footer-bar h1{
    margin-bottom:30px;
    font-size: 30px;
}
.footer-bar p{
    margin-bottom:30px;
    font-size: 20px;
}
#top{
    width: 100px;
    height: 150px;
    position: absolute;
    display: none;
    right: 0;
}

@media screen and (min-width:300px) and ( max-width:768px){
   .nav{
   display: none;
}
.btn{
    display: block;
}
.btn dl{
    width: 120px;
}
.btn a{
    font-size: 12px;
}
.con .inner .box h2{
     font-size: 25px;
}
#top{
   width: 20%;
}        
}
@media screen and (min-width:768px) and (max-width:1280px){
.con .inner .box h2{
     font-size: 25px;
}
}



          